/* game board table */
#board {
  padding-top: 10vh;
  margin: auto;
}

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 100%;
  
}

.p1 {
  background-color: #f589ea;
}

.p2 {
  background-color: #6dc9c8;
}

.drop {
  animation-name: drop-animation;
  animation-duration: 500ms;
}

@keyframes drop-animation {
  from {
    transform: translateY(-275px);
  }
  to {
    transform: translateY(0);
  }
}
#column-top td {
  border: dashed 1px lightgray;
  /* translate: y; */
}

#column-top td:hover {
  background-color: #f5e76c;
}

h1 {
  text-align: center;
  font-family: 'Bad Script', Arial, Helvetica, sans-serif;
  font-size: 3rem;
  color: #f5e76c;
  border: 1px solid #6dc9c8;
}